body {
    box-sizing: border-box;
    width: 1280px;
    margin: auto;
    background-color: var(--progect-color1);
    font-family: Stem, cursive;
    padding: 20px 20px 90px 20px;
}

:root {
    --progect-color1: #F2F7FC;
    --progect-color2: #315B7C;
    --progect-color3: #121212;
    --progect-color4: #666666;
    --progect-color5: #7E9AB0;
    --progect-color6: #000000;
    --progect-color7: #FF5561;
    --progect-color8: #FFFFFF;
    --progect-color9: #121212;
    --progect-color10: #232328;
}

.header {
    padding-left: 315px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
}


.search {
    display: flex;
    align-items: center;
}

.search__input {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    padding-left: 15px;
}

.search__button {
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    height: 26px;
    width: 26px;
    background: url(src/assets/image/icons/search.svg) no-repeat 0 50%;
    position: absolute;
    margin-left: 565px;
}

.user {
    width: 310px;
    height: 50px;
    display: flex;
    align-items: center;
}

.user__img {
    width: 50px;
    height: 50px;
}

.user__info {
    margin-left: 10px;
    display: block;
    width: 210px;
}

.user__name {
    width: 210px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    height: 24px;
    color: var(--progect-color3);
    font-weight: 500;
    line-height: 150%;
}

.user__post {
    display: inline-block;
    font-size: 12px;
    margin-top: 0;
    height: 18px;
    color: var(--progect-color4);
    font-weight: 400;
    font-family: Manrope, serif;
}

.mainContent {
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 295px;
}

.sidebar__navigation {
    margin-left: 10px;
}

.sidebar__list {
    padding: 0;
}


.sidebar__link {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.sidebar__homeLetter, .sidebar__staging, .sidebar__listUl,
.sidebar__books, .sidebar__boxContainer, .sidebar__bellOn,
.sidebar__users {
    color: var(--progect-color2);
    font-size: 16px;
    height: 46px;
    width: 230px;
    display: inline-block;
    padding-left: 55px;
}

.sidebar__homeLetter:hover, .sidebar__staging:hover, .sidebar__listUl:hover,
.sidebar__books:hover, .sidebar__boxContainer:hover, .sidebar__bellOn:hover,
.sidebar__users:hover {
    color: var(--progect-color8);
    background-color: var(--progect-color5);
    border-radius: 7px;
}

.sidebar__homeLetter {
    background: url(src/assets/image/icons/homeletter-red.svg) no-repeat 10px 50%;
}

.sidebar__homeLetter:hover {
    background: url(src/assets/image/icons/homeletter-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.sidebar__staging {
    background: url(src/assets/image/icons/staging-red.svg) no-repeat 10px 50%;
}

.sidebar__staging:hover {
    background: url(src/assets/image/icons/staging-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.sidebar__listUl {
    background: url(src/assets/image/icons/list-ul-red.svg) no-repeat 10px 50%;
}

.sidebar__listUl:hover {
    background: url(src/assets/image/icons/list-ul-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.sidebar__books {
    background: url(src/assets/image/icons/books-red.svg) no-repeat 10px 50%;
}

.sidebar__books:hover {
    background: url(src/assets/image/icons/books-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.sidebar__boxContainer {
    background: url(src/assets/image/icons/box-container-red.svg) no-repeat 10px 50%;
}

.sidebar__boxContainer:hover {
    background: url(src/assets/image/icons/box-container-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.sidebar__bellOn {
    background: url(src/assets/image/icons/bell-on-red.svg) no-repeat 10px 50%;
}

.sidebar__bellOn:hover {
    background: url(src/assets/image/icons/bell-on-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.sidebar__users {
    background: url(src/assets/image/icons/users-red.svg) no-repeat 10px 50%;
}

.sidebar__users:hover {
    background: url(src/assets/image/icons/users-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.sidebar__text {
    display: inline-block;
    height: 24px;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 500;
}

.QR {
    display: block;
    margin-top: 70px;
    background-color: var(--progect-color8);
    width: 295px;
    border-radius: 10px;
}

.QR__text {
    padding-left: 21px;
    padding-top: 20px;
    padding-right: 20px;
    color: var(--progect-color2);
    font-size: 24px;
    font-weight: 700;
}

.QR__img {
    display: block;
    width: 130px;
    height: 130px;
    padding-top: 40px;
    margin: auto;
}

.QR__button {
    margin: 40px 0 61px 63px;
    color: var(--progect-color8);
    background-color: var(--progect-color2);
    border-radius: 10px;
    height: 45px;
    width: 168px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.mainInfo {
    width: 925px;
    color: white;
    border-radius: 10px;
    background: var(--progect-color10);
}

.mainInfo__block1 {
    background: url("src/assets/image/jonny-mckenna-4igCpD-Lnfg-unsplash1.png") no-repeat 0 0, var(--progect-color10);
    border-radius: 10px;
}

.section__text1 { /* text1 */
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 470px;
    margin-right: 0;
}

.section__text2 { /* text2 */
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.section__text3 { /* text3 */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.number__text { /* text4 */
    position: absolute;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.number__num { /* text5 */
    font-size: 133px;
    font-weight: 500;
    line-height: 160px;
    color: var(--progect-color7);
    opacity: 0.35;
    padding-right: 20px;
}

.section__text6 { /* text6 */
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    width: 620px;
    text-align: center;
    margin-left: 153px;
}

.listInfo__text { /* text7 */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
}

.section__button {
    color: var(--progect-color8);
    background-color: var(--progect-color7);
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 190px;
    cursor: pointer;
    margin-top: 40px;
}

.sectionHeader {
    display: flex;
    align-items: center;
}

.header__number {
    display: flex;
    align-items: center;
}

.section1 {
    padding-top: 135px;
    padding-left: 80px;
    width: 410px;
}

.section2 {
    padding-top: 20px;
    padding-left: 397px;
}

.section3 {
    padding-top: 20px;
    padding-left: 80px;
}

.section4 {
    padding-top: 20px;
    padding-left: 397px;
}

.section5 {
    padding-top: 80px;
    padding-left: 80px;
    width: 460px;
}

.section6 {
    padding-top: 80px;
}

.sectionList {
    list-style-type: square;
    padding-left: 20px;
    padding-top: 10px;
}

.sectionList__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Manrope, serif;
}

.listInfo__icon {
    display: block;
    margin: auto;
}

.listInfo {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listInfo__item {
    position: relative;
    width: 220px;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
}

.footer {
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.footer__question {
    height: 43px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.footer__text {
    font-size: 36px;
}

.footer__text::before {
    content: " ";
    width: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background: var(--progect-color2);
}

.footer__user {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}

.footer__photo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.footer__iconTel {
    margin-top: 20px;
    margin-left: 5px;
}

.footer__iconMail {
    margin-top: 20px;
    margin-left: 15px;
}

.mainInfo__block2 {
    background: linear-gradient(180deg, rgba(49, 91, 124, 0.02) 35.84%, #222328 70%), url("src/assets/image/danka-peter-xv4L_bb0Z_8-unsplash1.png") no-repeat;
}

.section7 {
    padding-top: 135px;
    padding-left: 80px;
    width: 550px;
    color: var(--progect-color9);
}

.section8 {
    color: var(--progect-color9);
    padding-left: 397px;
    width: 430px;
}

.section9 {
    padding-left: 80px;
    width: 390px;
}

.section10 {
    margin: 0;
    padding-left: 397px;
    width: 500px;
}
