body {
    box-sizing: border-box;
    width: 1280px;
    margin: auto;
    background-color: var(--progect-color1);
    font-family: Stem, cursive;
    padding: 20px 20px 90px 20px;
}

:root {
    --progect-color1: #F2F7FC;
    --progect-color2: #315B7C;
    --progect-color3: #121212;
    --progect-color4: #666666;
    --progect-color5: #7E9AB0;
    --progect-color6: #000000;
    --progect-color7: #FF5561;
    --progect-color8: #FFFFFF;
    --progect-color9: #121212;
    --progect-color10: #232328;
}

.header {
    padding-left: 315px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
}


.header-search {
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    padding-left: 15px;
}

.search-button {
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    height: 26px;
    width: 26px;
    background: url(src/assets/image/icons/search.svg) no-repeat 0 50%;
    position: absolute;
    margin-left: 565px;
}

.header-user {
    width: 310px;
    height: 50px;
    display: flex;
    align-items: center;
}

.user_img {
    width: 50px;
    height: 50px;
}

.user-info {
    margin-left: 10px;
    display: block;
    width: 210px;
}

.info-name {
    width: 210px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    height: 24px;
    color: var(--progect-color3);
    font-weight: 500;
    line-height: 150%;
}

.info-post {
    display: inline-block;
    font-size: 12px;
    margin-top: 0;
    height: 18px;
    color: var(--progect-color4);
    font-weight: 400;
    font-family: Manrope, serif;
}

.mainContent {
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 295px;
}

.navigation {
    margin-left: 10px;
}

.navigation ul {
    padding: 0;
}


.navigation-item {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.item-homeLetter, .item-staging, .item-listUl,
.item-books, .item-boxContainer, .item-bellOn,
.item-users {
    color: var(--progect-color2);
    font-size: 16px;
    height: 46px;
    width: 230px;
    display: inline-block;
    padding-left: 55px;
}

.item-homeLetter:hover, .item-staging:hover, .item-listUl:hover,
.item-books:hover, .item-boxContainer:hover, .item-bellOn:hover,
.item-users:hover {
    color: var(--progect-color8);
    background-color: var(--progect-color5);
    border-radius: 7px;
}

.item-homeLetter {
    background: url(src/assets/image/icons/homeletter-red.svg) no-repeat 10px 50%;
}

.item-homeLetter:hover {
    background: url(src/assets/image/icons/homeletter-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.item-staging {
    background: url(src/assets/image/icons/staging-red.svg) no-repeat 10px 50%;
}

.item-staging:hover {
    background: url(src/assets/image/icons/staging-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.item-listUl {
    background: url(src/assets/image/icons/list-ul-red.svg) no-repeat 10px 50%;
}

.item-listUl:hover {
    background: url(src/assets/image/icons/list-ul-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.item-books {
    background: url(src/assets/image/icons/books-red.svg) no-repeat 10px 50%;
}

.item-books:hover {
    background: url(src/assets/image/icons/books-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.item-boxContainer {
    background: url(src/assets/image/icons/box-container-red.svg) no-repeat 10px 50%;
}

.item-boxContainer:hover {
    background: url(src/assets/image/icons/box-container-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.item-bellOn {
    background: url(src/assets/image/icons/bell-on-red.svg) no-repeat 10px 50%;
}

.item-bellOn:hover {
    background: url(src/assets/image/icons/bell-on-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.item-users {
    background: url(src/assets/image/icons/users-red.svg) no-repeat 10px 50%;
}

.item-users:hover {
    background: url(src/assets/image/icons/users-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.item-text {
    display: inline-block;
    height: 24px;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 500;
}

.QR {
    display: block;
    margin-top: 70px;
    background-color: var(--progect-color8);
    width: 295px;
    border-radius: 10px;
}

.QR-text {
    padding-left: 21px;
    padding-top: 20px;
    padding-right: 20px;
    color: var(--progect-color2);
    font-size: 24px;
    font-weight: 700;
}

.QR-img {
    display: block;
    width: 130px;
    height: 130px;
    padding-top: 40px;
    margin: auto;
}

.QR-button {
    margin: 40px 0 61px 63px;
    color: var(--progect-color8);
    background-color: var(--progect-color2);
    border-radius: 10px;
    height: 45px;
    width: 168px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.mainInfo {
    width: 925px;
    color: white;
    border-radius: 10px;
    background: var(--progect-color10);
}

.mainInfo-block1 {
    background: url("src/assets/image/jonny-mckenna-4igCpD-Lnfg-unsplash1.png") no-repeat 0 0, var(--progect-color10);
    border-radius: 10px;
}

.section-text1 { /* text1 */
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 470px;
    margin-right: 0;
}

.section-text2 { /* text2 */
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.section-text3 { /* text3 */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section-text4 { /* text4 */
    position: absolute;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.section-text5 { /* text5 */
    font-size: 133px;
    font-weight: 500;
    line-height: 160px;
    color: var(--progect-color7);
    opacity: 0.35;
    padding-right: 20px;
}

.section-text6 { /* text6 */
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    width: 620px;
    text-align: center;
    margin-left: 153px;
}

.item-text { /* text7 */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
}

.section-button {
    color: var(--progect-color8);
    background-color: var(--progect-color7);
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 190px;
    cursor: pointer;
    margin-top: 40px;
}

.headerSection {
    display: flex;
    align-items: center;
}

.moduleNumber {
    display: flex;
    align-items: center;
}

.block1-section1 {
    padding-top: 135px;
    padding-left: 80px;
    width: 410px;
}

.block1-section2 {
    padding-top: 20px;
    padding-left: 397px;
}

.block1-section3 {
    padding-top: 20px;
    padding-left: 80px;
}

.block1-section4 {
    padding-top: 20px;
    padding-left: 397px;
}

.block1-section5 {
    padding-top: 80px;
    padding-left: 80px;
    width: 460px;
}

.block1-section6 {
    padding-top: 80px;
}

.section-list {
    list-style-type: square;
    padding-left: 20px;
    padding-top: 10px;
}

.list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Manrope, serif;
}

.item-icon {
    display: block;
    margin: auto;
}

.section6-info {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-item {
    position: relative;
    width: 220px;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
}


.footer {
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.footer-question {
    height: 43px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.question-text {
    font-size: 36px;
}

.question-text::before {
    content: " ";
    width: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background: var(--progect-color2);
}

.footer-user {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}

.user-photo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.user-iconTel {
    margin-top: 20px;
    margin-left: 5px;
}

.user-iconMail {
    margin-top: 20px;
    margin-left: 15px;
}

.mainInfo-block2 {
    background: linear-gradient(180deg, rgba(49, 91, 124, 0.02) 35.84%, #222328 70%), url("src/assets/image/danka-peter-xv4L_bb0Z_8-unsplash1.png") no-repeat;
}

.block2-section1 {
    padding-top: 135px;
    padding-left: 80px;
    width: 550px;
    color: var(--progect-color9);
}

.block2-section2 {
    color: var(--progect-color9);
    padding-left: 397px;
    width: 430px;
}

.block2-section3 {
    padding-left: 80px;
    width: 390px;
}

.block2-section4 {
    margin: 0;
    padding-left: 397px;
    width: 500px;
}
